:root{
    --main-blue: #1d3557;
    --lighter-blue: #1a3a8a;
    --yellow: #ffcc00;
    --background: #f8f9fa;
    --side-bar-background: #f1f5f9;
    --event-hover-light: #cbd5e1;
    --text: #264653;
    --white: #ffffff;
    --gray-text: #64748b;
    --light-gray-border: #e2e8f0;
}


/*homepage*/
/*Header Styles*/
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5%;
    background-color: var(--white);
}
body {
    font-family: 'Inter', sans-serif;
    background-color: var(--background);
    color: var(--text);
}

/*Secondary footer*/
.secondary-footer {
    background-color: var(--main-blue);
    padding: 30px 0;
    width: 100%;
}


.footer-bottom-wrap {
    text-align: center;
}

.footer-copy {
    color: var(--event-hover-light);
    font-size: 0.8rem;
    font-weight: 500;
    letter-spacing: 0.5px;
}


/*logo styling*/
.logo {
    display: flex;
    align-items: center;
}

.logo-img {
    height: 90px;
}

.logo .logo-text {
    font-size: 1.1rem;
    font-weight: 700;
    color: var(--main-blue);
    letter-spacing: 0.5px;
}


/*nav links styling*/
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 1.3rem;
}

.nav-links a {
    text-decoration: none;
    color: var(--text);
    font-weight: 700;
    transition: color 0.3s ease;
}

.nav-links a.active {
    color: var(--lighter-blue);
    border-bottom: 2px solid var(--lighter-blue);
}

.search-btn {
    background: transparent;
    border: none;
    color: var(--main-blue);
    cursor: pointer;
    font-weight: 600;
    font-size: 16px;
    transition: all 0.3s ease;
}

/*hero styles*/

.hero {
    height: 60vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
                url('assets/volleyball-bg.jpg') center/cover no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--white);
}

.hero h3{
    font-size: 2rem;
    font-weight: bold;
}

.hero-content {
    text-align: center;
}

.hero p{
    font-size: 1.3rem;
}

.countdown-display {
    font-size: clamp(3rem, 10vw, 4.5rem);
    font-weight: 800;
    color: var(--yellow);
    margin: 1rem 0;
}

.join-btn {
    background-color: var(--lighter-blue);
    color: var(--white);
    padding: 12px 45px;
    font-size: 1.1rem;
    border-radius: 30px;
    font-weight: 700;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border: none;
    cursor: pointer;
    transition: transform 0.2s ease, background-color 0.2s ease;
}

.join-btn:hover {
    background-color: var(--main-blue);
    transform: scale(1.05);
}


/*news and events styling*/
.main-content-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;
    margin-top: 20px;
}


/*news*/
.news-container {
    flex: 2;
}

.news-section {
    padding: 60px 16%;
    background-color: transparent;
}

.section-title {
    font-size: 1.75rem;
    color: var(--main-blue);
    border-left: 5px solid var(--lighter-blue);
    padding-left: 15px;
    margin: 0
}

.view-all {
    color: var(--lighter-blue);
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
}

.section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    width: 100%;
}


.news-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    width: 100%
}

.news-card {
    background: var(--white);
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1), box-shadow 0.3s ease;
}

.news-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
}


.news-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card-content {
    padding: 20px;
}

.card-content p{
    color: var(--text);
    line-height: 1.6;
    font-size: 0.95rem;
}

.read-more {
    color: var(--lighter-blue);
    text-decoration: none;
    font-weight: 800;
    font-size: 13px;
    text-transform: uppercase;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    margin-top: 15px;
    transition: gap 0.2s ease;
}

.read-more:hover {
    gap: 12px;
}


/*events*/
.events-sidebar {
    display: flex;
    flex-direction: column;
    gap: 15px;
    background: var(--side-bar-background);
    padding: 30px;
    border-radius: 20px;
}

.event-card {
    display: flex;
    align-items: center;
    background: var(--white);
    padding: 15px;
    border-radius: 15px;
    justify-content: space-between;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.event-card:hover {
    background-color: var(--white);
    border-color: var(--event-hover-light);
    transform: scale(1.03);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.event-icon-box {
    background: var(--background);
    padding: 12px;
    border-radius: 12px;
    color: var(--lighter-blue);
}

.add-calendar {
    background: var(--yellow);
    color: var(--main-blue);
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
}


.view-schedule-btn {
    display: inline-block;
    padding: 15px 35px;
    color: var(--text);
    text-decoration: none;
    border-radius: 8px;
    background: transparent;
    border: 2px dashed var(--event-hover-light);
    font-weight: 700;
    transition: background 0.3s ease;
    display: flex;
    justify-content: center;
}

.view-schedule-btn:hover {
    background-color: var(--side-bar-background);
    border-color: var(--main-blue);
    color: var(--main-blue);
}

/* Connect Section at bottom */
.connect-section {
    margin-top: 30px;
    padding-top: 20px;
    border-top: 1px solid var(--light-gray-borderx);
    text-align: center;
}

.connect-section p {
    font-size: 12px;
    font-weight: 800;
    color: #64748b;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

.social-icons-row {
    display: flex;
    justify-content: space-around;
    font-size: 21px;
    cursor: pointer;
}

.social-link{
    color: var(--gray-text);
}

.fa-instagram:hover {
    color: #e1306c;
    scale: 1.2;
}

.fa-envelope:hover {
    color: var(--main-blue);
    scale: 1.2;
}

.fa-tiktok:hover {
    color: initial;
}

/*media*/
@media (max-width: 992px) {
    .main-content-wrapper {
        flex-direction: column;
    }

    .events-sidebar {
        width: 100%;
        order: 2;
    }
}

/*footer styling*/
.main-footer {
    background-color: var(--main-blue);
    color: var(--event-hover-light);
    padding: 60px 5% 30px;
    margin-top: 50px;
}

.footer-grid {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    flex-wrap: wrap;
}


.footer-about {
    flex: 2;
    min-width: 250px;
}

.footer-logo {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 20px;
}

.logo-circle {
    width: 40px;
    height: 40px;
    background: var(--event-hover-light);
    color: var(--main-blue);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 800;
}

.footer-logo .logo-text{
    color: var(--white)
}

.footer-links, .footer-contact {
    flex: 1;
    min-width: 200px;
}

.main-footer h5 {
    color: var(--white);
    text-transform: uppercase;
    font-size: 0.85rem;
    letter-spacing: 1.2px;
    margin-bottom: 1.5rem;
}

.main-footer ul {
    list-style: none;
    padding: 0;
}

.main-footer ul li {
    margin-bottom: 12px;
    font-size: 0.9rem;
    opacity: 0.8;
}

.main-footer a {
    color: var(--event-hover-light);
    text-decoration: none;
    transition: color 0.2s ease;
}

.main-footer a:hover {
    color: var(--white);
    opacity: 1;
    text-decoration: underline;
}


.footer-bottom {
    margin-top: 40px;
    padding-top: 20px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    font-size: 0.8rem;
    display: flex;
    justify-content: center;
}








/*schedule*/
/*header styling*/
.schedule-header {
    background-color: var(--main-blue);
    padding: 60px 20px;
    text-align: center;
    color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.schedule-header h1 {
    font-size: 42px;
    text-transform: uppercase;
    letter-spacing: -1px;
    margin-bottom: 10px;
}

.schedule-header p {
    color: var(--event-hover-light);
    opacity: 0.8;
}

/*tabs styling*/
.filter-tabs {
    display: flex;
    justify-content: center;
    gap: 12px;
    margin: 30px 0;
}

.tab {
    padding: 10px 24px;
    border-radius: 50px;
    border: 1px solid #e2e8f0;
    background-color: white;
    color: #64748b;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
}

.tab:hover {
    border-color: #1e3a8a;
    color: #1e3a8a;
    background-color: #f8fafc;
}

.tab.active {
    background-color: #1e3a8a;
    color: white;
    border-color: #1e3a8a;
    box-shadow: 0 4px 10px rgba(30, 58, 138, 0.2);
}


/*match cards styling*/
.schedule-list {
    max-width: 1200px;
    margin: 40px auto;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.match-card {
    display: grid;
    grid-template-columns: 160px 1fr 220px;
    align-items: center;
    background: white;
    padding: 40px;
    border-radius: 24px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05)
}

.match-date {
    display: flex;
    align-items: center;
    flex-direction: column;
    border-right: 2px solid var(--side-bar-background);
    padding-right: 20px;
}

.match-date .day {
    font-size: 48px;
    font-weight: 900;
    color: var(--lighter-blue);
    line-height: 1;
}

.match-date .month {
    font-size: 12px;
    font-weight: 700;
    color: #94a3b8;
    margin-top: 5px;
    letter-spacing: 1px;
}

.team-name {
    font-size: 22px; 
    font-weight: 800;
}

.vs-badge {
    background: var(--side-bar-background);
    color: #64748b;
    font-size: 11px;
    font-weight: 800;
    padding: 5px 12px;
    border-radius: 8px;
    text-transform: uppercase;
}

.match-teams {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.match-meta {
    border-left: 2px solid #f8fafc;
    padding-left: 40px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.meta-item {
    font-size: 20px;
    color: #64748b;
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 500;
}



/*roster page*/
.roster-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.player-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1.5rem;
    margin: 40px auto;
}

.player-card {
    background: var(--white);
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    flex-direction:column;
    cursor: pointer;
}

.player-card:hover {
    transform: translateY(-10px);
}

.player-image {
    height: 350px;
    overflow: hidden;
    position: relative;
}

.player-image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.player-overlay {
    position: absolute;
    inset: 0;
    background: linear-gradient(to top, var(--lighter-blue), transparent);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 20px;
    opacity: 0;
    transition: opacity 0.3s ease;
    color: var(--white);
    font-weight: 700;
}

.player-card:hover .player-overlay {
    opacity: 1;
}


.player-info {
    padding: 1.5rem;
    background-color: var(--white);
}

.name-row {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 0.25rem;
}

.name-row h3 {
    font-size: 1.25rem;
    font-weight: 700;
    color: var(--text);
    margin: 0;
}

.player-number {
    font-size: 1.25rem;
    font-weight: 800;
    color: var(--gray-text);
}

.player-status {
    text-transform: uppercase;
    font-size: 0.85rem;
    letter-spacing: 0.05em;
    font-weight: 600;
    color: var(--gray-text);
    margin: 0;
}



/*club info page*/

.hero-info {
    background-color: var(--main-blue);
    color: var(--white);
    padding: 100px 20px;
    text-align: center;
}

.hero-content h1 {
    font-size: 3rem;
    margin-bottom: 1.5rem;
}

.hero-content p {
    color: var(--event-hover-light);
    max-width: 600px;
    margin: 0 auto;
    font-size: 1.1rem;
}


/*mission section*/
.mission-section {
    max-width: 1200px;
    margin: 80px auto;
}

.mission-container {
    display: flex;
    align-items: center;
    gap: 50px;
}

.mission-text {
    flex: 2;
}

.side-title {
    font-size: 2rem;
    color: var(--text);
    border-left: 5px solid var(--lighter-blue);
    padding-left: 20px;
    margin-bottom: 25px;
}

.mission-text p {
    font-size: 1.1rem;
    line-height: 1.5;
    color: var(--gray-text);
}

.mission-image {
    flex: 3;
    border-radius: 30px;
    overflow: hidden;
}

.mission-image img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    display: block;
}



/*executive section*/
.exec-section {
    max-width: 1200px;
    margin: 100px auto;
    padding: 0 20px;
    text-align: center;
}

.section-center-title {
    font-size: 2.5rem;
    margin-bottom: 60px;
}

.exec-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    max-width: 1200px;
    margin: 0 auto;
}

.exec-card {
    flex: 0 1 calc(25% - 40px);
    min-width: 250px;
    background: var(--white);
    padding: 30px;
    border-radius: 20px;
    text-align: center;
}

.exec-card:hover {
    transform: translateY(-10px);
}

.exec-img-container {
    width: 120px;
    height: 120px;
    margin: 0 auto 20px;
    border-radius: 50%;
    overflow: hidden;
}

.exec-img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.exec-role {
    color: var(--lighter-blue);
    font-size: 0.7rem;
    font-weight: 800;
    letter-spacing: 2px;
    margin-bottom: 8px;
}

.exec-name {
    font-size: 1.1rem;
    color: var(--text);
    font-weight: 700;
}


/*technical staff*/
.tech-staff-section {
    width: 100%;
    text-align: center;
}

.tech-grid {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 40px 0;
}

.tech-card {
    position: relative;
    background: var(--white);
    border-radius: 40px;
    padding: 50px 40px;
    width: 320px;
    text-align: center;
}

.tech-card:hover {
    transform: translateY(-10px);
}

.role-ribbon {
    position: absolute;
    top: 0;
    right: 0;
    background: var(--lighter-blue);
    color: var(--white);
    padding: 10px 25px;
    font-size: 0.7rem;
    font-weight: 800;
    border-radius: 0 40px 0 20px;
}

.tech-img-wrapper {
    width: 140px;
    height: 140px;
    margin: 0 auto 25px;
    border-radius: 50%;
    overflow: hidden;
    background: var(--white);
}

.tech-img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.tech-name {
    font-size: 1.4rem;
    color: var(--text);
}



/*teams leadership section*/
.team-leadership-container {
    padding: 60px 20px;
    background-color: var(--background);
}

.leadership-glass-card {
    background: var(--white);
    max-width: 1100px;
    margin: 0 auto;
    padding: 60px 80px;
    border-radius: 60px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.03);
    text-align: center;
}

.leadership-title {
    color: var(--gray-text);
    font-size: 0.9rem;
    font-weight: 800;
    letter-spacing: 3px;
    margin-bottom: 50px;
    text-transform: uppercase;
}

.teams-flex {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    text-align: left;
}

.team-column {
    flex: 1;
}

.team-name-club {
    color: var(--lighter-blue);
    font-size: 0.75rem;
    font-weight: 800;
    letter-spacing: 1px;
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid var(--event-hover-light);
}

.leader-row {
    margin-bottom: 8px;
    display: flex;
    gap: 10px;
    align-items: center;
}

.p-name {
    font-weight: 700;
    color: var(--text);
    font-size: 0.95rem;
}

.p-role {
    color: var(--gray-text);
    font-size: 0.85rem;
    font-weight: 400;
}


/*training section*/
.training-section {
    padding: 80px 20px;
    background-color: var(--background);
}

.mega-card {
    background: var(--main-blue);
    max-width: 1200px;
    margin: 0 auto;
    border-radius: 50px;
    display: flex;
    padding: 60px;
    gap: 40px;
    color: var(--white);
    align-items: center;
}

.training-side {
    flex: 1.2;
}

.training-title {
    font-size: 1.8rem;
    font-weight: 800;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    gap: 15px;
}

.training-title i {
    color: var(--yellow);
}

.training-note {
    color: var(--event-hover-light);
    margin-bottom: 30px;
    line-height: 1.6;
}

.schedule-row {
    background: rgba(255, 255, 255, 0.05);
    padding: 18px 25px;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
    font-weight: 600;
}

.schedule-row .time {
    color: var(--yellow);
}

.location-link {
    text-decoration: underline;
    text-decoration-color: var(--yellow);
    color: inherit;
    transition: all 0.3s ease;
}

.location-link:hover {
    color: #fbbf24;
    text-decoration-thickness: 2px;
}

/*join card*/
.join-side {
    flex: 1;
}

.join-card {
    background: #1e293b;
    padding: 40px;
    border-radius: 35px;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.join-card h3 {
    font-size: 1.5rem;
    margin-bottom: 15px;
}

.join-card p {
    color: var(--event-hover-light);
    font-size: 0.9rem;
    margin-bottom: 30px;
}

.contact-method {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;
}

.icon-circle {
    width: 45px;
    height: 45px;
    background: var(--lighter-blue);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #3b82f6;
}

.contact-label {
    display: block;
    font-size: 0.65rem;
    font-weight: 800;
    color: var(--event-hover-light);
    letter-spacing: 1px;
}

.contact-value {
    display: block;
    font-weight: 700;
    font-size: 1.1rem;
}