:root{
    --main-blue: #1d3557;
    --lighter-blue: #1a3a8a;
    --yellow: #ffcc00;
    --background: #f8f9fa;
    --side-bar-background: #f1f5f9;
    --event-hover-light: #cbd5e1;
    --text: #264653;
    --white: #ffffff;

}

/*Header Styles*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5%;
    background-color: var(--white);
}
body {
    font-family: 'Inter', sans-serif;
    background-color: var(--background);
    color: var(--text);
    margin: 0;
}

/*logo styling*/
.logo {
    display: flex;
    align-items: center;
}

.logo-img {
    height: 90px;
}

.logo .logo-text {
    font-size: 1.1rem;
    font-weight: 700;
    color: var(--main-blue);
    letter-spacing: 0.5px;
}

/*nav links styling*/
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 1.3rem;
}

.nav-links a {
    text-decoration: none;
    color: var(--text);
    font-weight: 700;
    transition: color 0.3s ease;
}

.nav-links a.active {
    color: var(--lighter-blue);
    border-bottom: 2px solid var(--lighter-blue);
}

.search-btn {
    background: transparent;
    border: none;
    color: var(--main-blue);
    cursor: pointer;
    font-weight: 600;
    font-size: 16px;
    transition: all 0.3s ease;
}

/*hero styles*/

.hero {
    height: 60vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
                url('assets/volleyball-bg.jpg') center/cover no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--white);
}

.hero h3{
    font-size: 32px;
    font-weight: bold;
}

.hero-content {
    text-align: center;
}

.hero p{
    font-size: 22px;
}

.countdown-display {
    font-size: clamp(3rem, 10vw, 5.5rem);
    font-weight: 800;
    color: var(--yellow);
    margin: 1rem 0;
}

.join-btn {
    background-color: var(--lighter-blue);
    color: var(--white);
    padding: 12px 45px;
    font-size: 1.1rem;
    border: none;
    border-radius: 30px;
    font-weight: 700;
    cursor: pointer;
    transition: transform 0.2s ease, background-color 0.2s ease;
}

.join-btn:hover {
    background-color: var(--main-blue);
    transform: scale(1.05);
}


/*News and events styling*/
.main-content-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    gap: 40px;
    margin-top: 20px;
}


/*news*/
.news-container {
    flex: 2;
}

.news-section {
    padding: 60px 16%;
    background-color: transparent;
}

.section-title {
    font-size: 1.75rem;
    color: var(--main-blue);
    border-left: 5px solid var(--lighter-blue);
    padding-left: 15px;
    margin: 0
}

.view-all {
    color: var(--lighter-blue);
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
}

.section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    width: 100%;
}


.news-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    width: 100%
}

.news-card {
    background: var(--white);
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1), box-shadow 0.3s ease;
}

.news-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
}


.news-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card-content {
    padding: 20px;
}

.card-content p{
    color: var(--text);
    line-height: 1.6;
    font-size: 0.95rem;
}

.read-more {
    color: var(--lighter-blue);
    text-decoration: none;
    font-weight: 800;
    font-size: 13px;
    text-transform: uppercase;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    margin-top: 15px;
    transition: gap 0.2s ease;
}

.read-more:hover {
    gap: 12px;
}


/*events*/
.events-sidebar {
    display: flex;
    flex-direction: column;
    gap: 15px;
    background: var(--side-bar-background);
    padding: 30px;
    border-radius: 20px;
}

.event-card {
    display: flex;
    align-items: center;
    background: var(--white);
    padding: 15px;
    border-radius: 15px;
    justify-content: space-between;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.event-card:hover {
    background-color: var(--white);
    border-color: var(--event-hover-light);
    transform: scale(1.03);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.event-icon-box {
    background: var(--background);
    padding: 12px;
    border-radius: 12px;
    color: var(--lighter-blue);
}

.add-calendar {
    background: var(--yellow);
    color: var(--main-blue);
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
}


.view-schedule-btn {
    width: 100%;
    padding: 15px;
    margin-top: 20px;
    background: transparent;
    border: 2px dashed var(--event-hover-light);
    border-radius: 12px;
    color: var(--text);
    font-weight: 700;
    font-size: 13px;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.view-schedule-btn:hover {
    background-color: var(--side-bar-background);
    border-color: var(--main-blue);
    color: var(--main-blue);
}

/* Connect Section at bottom */
.connect-section {
    margin-top: 30px;
    padding-top: 20px;
    border-top: 1px solid #e2e8f0;
    text-align: center;
}

.connect-section p {
    font-size: 12px;
    font-weight: 800;
    color: #64748b;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

.social-icons-row {
    display: flex;
    justify-content: space-around;
    color: #94a3b8;
    font-size: 21px;
    cursor: pointer;
}

.fa-instagram:hover {
    color: #e1306c;
    scale: 1.2;
}

.fa-envelope:hover {
    color: #1d3557;
    scale: 1.2;
}



/*footer styling*/
.main-footer {
    background-color: var(--main-blue);
    color: #cbd5e1;
    padding: 60px 5% 30px;
    margin-top: 50px;
}

.footer-grid {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    flex-wrap: wrap;
}


.footer-about {
    flex: 2;
    min-width: 250px;
}

.footer-logo {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 20px;
}

.logo-circle {
    width: 40px;
    height: 40px;
    background: var(--event-hover-light);
    color: var(--main-blue);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 800;
}

.footer-logo .logo-text{
    color: var(--white)
}

.footer-links, .footer-contact {
    flex: 1;
    min-width: 200px;
}

.main-footer h5 {
    color: var(--white);
    text-transform: uppercase;
    font-size: 0.9rem;
    margin-bottom: 1.5rem;
}

.main-footer ul {
    list-style: none;
    padding: 0;
}

.main-footer ul li {
    margin-bottom: 12px;
    font-size: 14px;
}

.main-footer a {
    color: var(--event-hover-light);
    text-decoration: none;
    transition: color 0.2s ease;
}

.main-footer a:hover {
    color: white;
}


.footer-bottom {
    margin-top: 40px;
    padding-top: 20px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    font-size: 0.8rem;
    display: flex;
    justify-content: center;
}